<%= form_for @propose, :html => { :class => 'form-horizontal' } do |f| %>



<td><%= f.select :statuss, raw ("<option></option><option>Не вказано</option><option>Актуально</option><option>Не актуально</option>"), :class=> "span1"%></td>
    	
